@font-face {
    font-family: 'Rubik';
    src: url(../assets/fonts/Rubik.ttf);
}

html, body{
    margin: 0px;
    height: 100%;
    background: var(--bg-color);
}

html{
    font-size: 15px;
}

#root{
    height: 100%;
}

.split-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

h3{
    color: var(--main-text-color)
}

h4{
    color: var(--add-text-color);
}

label{
    color: white;
}

@media screen and (orientation:portrait){
    .split-container{
        flex-direction: column;
    }
}

.half {
    flex: 1;
    transition: flex-grow 0.3s;
    padding: 60px;
    gap: 50px;

    display: flex;
    flex-direction: column;

    position: relative;

    transition: 0.3s ease;
}
  
.half-active {
    flex-grow: 2;
    background: var(--half-active-bg-color);
}

.basic-button{
    height: 100%;
    width:100%;
    padding: 20px;
    background: var(--btn-color);
    border-radius: 20px;
    border: none;

    transition: 0.3s ease;
}

.basic-button:hover{
    background:  var(--btn-color-hover);
}

.basic-button:active{
    background: var(--btn-color-active);
}

.main-button{
    z-index: 2000;

    height: 100px;
    width: 100px;
}

.main-button img{
    width: 100%;
    height: 100%;
}

button img{
    max-height: 100%;
}

.text-field{
    height: 200px;
    width: 100%;
    overflow-y: scroll;
    font-family: 'Rubik';

    border-radius: 20px;
    background: var(--textfield-color);
    padding: 20px;
    min-height: 1.2rem;
    resize: vertical;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    vertical-align: top;

    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.2);

    font-size: 1.3rem;
}

.text-field corrected {
    background: greenyellow;
    border-radius: 10px;
    height: fit-content;
}


.field-button-group{
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;

    position: relative;
}

.field-button-group button{
    position: absolute;
    right: -110px;
}


.input-selector{
    height: 90px;
    gap: 20px;

    display: flex;
}

.filter{
    font-family: 'Rubik';
    font-size: 1.5rem;

    background: var(--filter-bg-color);
    padding: 20px;
    display: flex;
    border-radius: 20px;

    flex-direction: column;
    gap: 10px;

    transition: 0.3s ease;
}

label input[type=checkbox]{
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 10px;
    vertical-align: middle;
    border: 1px solid #ddd;
}

.result-actions{

}

.logo-style{
    display: flex;
    flex-direction: row;
    color: white;
    gap: 10px;

    z-index: 5000;
}

.logo-style *{
    font-family: 'Rubik';
    border-radius: 20px;
    padding: 10px 15px;
    background: #523fff;
}

.logo-style *:first-child{
    background: #2b17e4;
}

.logo-style *:last-child{
    background: #7667ff;
}

.color-pick{
    font-family: 'Rubik';

    height: 100px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    z-index: 5000;
}

.color-pick button{
    height: 30px;
    width: 40px;
    border-radius: 10px;
}

#dark-btn{ background: #523fff; }

#light-btn{ background: white; }

.alter-line{
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    color: rgb(184, 184, 184);
    font-family: 'Rubik';
}

.alter-line div{
    height: 10%;
    width: 100%;
    background: rgb(134, 134, 134);
    border-radius: 10px;
}

.history-group{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.history-group h3{
    font-family: 'Rubik';
    color: var(--add-text-color);
    font-size: 1.5rem;
    text-align: center;
}

#history-container{
    display: flex;
    flex-direction: column-reverse;

    gap: 10px;
}

.stored-note{
    font-family: 'Rubik';
    background: var(--stored-color);
    width: 100%;
    padding: 15px;
    border-radius: 20px;
}

.stored-note h3{
    font-size: 1.5rem;
    color: var(--main-text-color);
    text-align: start;
}

.stored-note div{
    font-size: 2rem;
    color: var(--main-text-color);
}

.meta-note{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.meta-note h3{
    height: 10px;
    padding: 0;
    margin: 0;
}

.meta-note button{
    background: rgb(252, 54, 54);
    height: 30px;
    border-radius: 10px;
    border: none;
    
}

.input-block{
    display: flex;
    flex-direction: column;
}

.loading{
    background: var(--btn-color-active);
}

.loading img{
    animation: spin 1s infinite;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .good{
    background: green;
  }

  .bad{
    background: red;
  }

  .hidden{
      display: none;
  }

  .attachment{
    font-family: 'Rubik';
    padding: 10px;

    background: #6b5e88;
    border-radius: 20px;

    position: relative;
  }

  .attachment button{
    position: absolute;
    right: -5px;
    top: -5px;

    height: 20px;
    width: 30px;

    background: red;
    border-radius: 5px;
    border: none;
  }

  .attachment button img{
    height: 100%;
    width: 100%;
  }

  .fit{
    height: fit-content;
    width: fit-content;
    padding: 15px;
  }

  .fit img{
    height: 30px;
  }

  .cover{
    z-index: 1000;
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    background: rgba(30, 8, 38, 0.363);
  }

  .none{
    display: none;
  }

  .section::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar {
    width: 10px; /* Установите ширину скроллбара по вашему усмотрению */
}

::-webkit-scrollbar-track {
    background-color: transparent; /* Прозрачный фон дорожки */
    border-radius: 5px; /* Скруглить углы дорожки */
}

::-webkit-scrollbar-thumb {
    background-color: #1e008a; /* Цвет скроллбара */
    border-radius: 5px; /* Скруглить углы ползунка */
}